body {
  background-color: #e7eeec;
}

#container {
  max-width: 800px;
  margin: 40px auto;
}

#user-list {
  width: 25%;
  float: left;
  padding: 10px 20px;
  text-align: right;
  border-right: 1px solid gray;
  margin-right: 40px;
  min-height: 400px;
  ul {
    list-style-type: none;
    li {
      margin-bottom: 12px;
      cursor: pointer;
    }
  }
}

#main-pane {
  padding: 20px;
  #user-display {
    text-align: center;
  }
  #welcome-pane {
    text-align: left;
  }
  .formEdit {
    text-align: left;
  }
}

#user-photo img {
  max-width: 200px;
  border-radius: 50%;
}

#deleteUserDiv {
  margin-top: 40px;
}

