body {
  background-color: #e7eeec; }

#container {
  max-width: 800px;
  margin: 40px auto; }

#user-list {
  width: 25%;
  float: left;
  padding: 10px 20px;
  text-align: right;
  border-right: 1px solid gray;
  margin-right: 40px;
  min-height: 400px; }
  #user-list ul {
    list-style-type: none; }
    #user-list ul li {
      margin-bottom: 12px;
      cursor: pointer; }

#main-pane {
  padding: 20px; }
  #main-pane #user-display {
    text-align: center; }
  #main-pane #welcome-pane {
    text-align: left; }
  #main-pane .formEdit {
    text-align: left; }

#user-photo img {
  max-width: 200px;
  border-radius: 50%; }

#deleteUserDiv {
  margin-top: 40px; }

input[type=text] {
  padding: 6px 12px;
  margin: 2px 0 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box; }

input[type=submit], button {
  width: 120px;
  padding: 6px 12px;
  color: #eeeeee;
  background-color: #228822;
  border-radius: 4px; }
  input[type=submit]:hover, button:hover {
    background-color: #44aa44; }
